* {
	box-sizing: content-box;

}
body {
	margin: 0;
	padding: 0;
	background-color: #200968;
}


#layer1 {
	max-width: 100%;
	height: auto;
	position: absolute;
}

#layer2 {
	max-width: 300%;
	height: auto;
	position: absolute;
	left: -105%;
	top: -100%;
	 
}

#layer3 {
	max-width: 200%;
	height: auto;
	position: absolute;
	left: -50%;
	top: -50%;
}

 

.planet1 {
	max-width: 20%;
	position: absolute;
	left: 1400px;
	top: 1650px;
	cursor: pointer;
	transition: 4s;
}

#rotate .planet1 {
	left: 1400px;
	top: 1650px;
	transition: 4s;
	transform: rotate3d(1, 1, 1, 1800deg);
}

.planet2 {
	max-width: 20%;
	position: absolute;
	left: 200px;
	top: 1450px;
	cursor: pointer;
	transition: transform 2s;

	
}

#zoom .planet2 {
	transform: scale(2);
	transition: 2s;

}

.planet3 {
	max-width: 20%;
	position: absolute;
	left: 600px;
	top: 2300px;
	cursor: pointer;
	transition: 2s;
}



#move .planet3 {
	transform: translate(50px, -400px);
	transition: 2s;

}



.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
 }


.parallax__layer--mid {
  transform: translateZ(-2px);
}

















